.admin-brand-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.admin-brand-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-brand-title {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 64px;
  color: #905c46;
}

.admin-brand-category,
.admin-brand-series {
  color: #905c46;
  margin: 4px 0;
  font-size: 30px;
  margin-left: 80px;
}

.admin-brand-buttons {
  display: flex;
}

.admin-brand-button.admin-add,
.admin-brand-button.admin-edit {
  margin-left: -50px;
}

.admin-brand-button {
  padding: 30px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-right: 155px;
}

.admin-add {
  background-color: #b7836d;
}

.admin-add:hover {
  background-color: #905c46;
}

.admin-edit {
  background-color: #6d93b7;
}

.admin-edit:hover {
  background-color: #a1d0ff;
}

@media (max-width: 768px) {
  .admin-brand-container {
    margin: 0 10px;
  }

  .admin-brand-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .admin-brand-title {
    margin: 20px 0;
    font-size: 36px;
  }

  .admin-brand-category,
  .admin-brand-series {
    font-size: 18px;
    margin-left: 10px;
  }

  .admin-brand-buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .admin-brand-button {
    margin-right: 10px;
    padding: 15px 15px;
    font-size: 14px;
  }

  .admin-brand-button.admin-add,
  .admin-brand-button.admin-edit {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

/* For mobile devices (less than 480px) */
@media (max-width: 480px) {
  .admin-brand-header {
    flex-direction: column-reverse;
  }

  .admin-brand-title {
    font-size: 24px;
  }

  .admin-brand-category,
  .admin-brand-series {
    font-size: 16px;
  }

  .admin-brand-buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .admin-brand-button {
    padding: 10px 10px;
    font-size: 12px;
    margin-left: 0;
    margin-right: 10px;
    flex-grow: 1;
  }

  .admin-brand-button.admin-add,
  .admin-brand-button.admin-edit {
    margin-bottom: 0;
  }
}
