.logout-button {
  padding: 10px 20px;
  background-color: #d44545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  text-align: center;
  margin-right: 90px;
}

.logout-button:hover {
  background-color: #ee7575;
}

@media (max-width: 768px) {
  .logout-button {
    width: 100px;
    margin-top: 10px;
  }
}
