.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  overflow-y: auto;
}

.popup-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.brands-list {
  flex: 1;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 3px solid #dbc1b6;
}

.brands-list ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 500px;
}

.brands-list li {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  margin: 5px 0;
}

.brands-list li.selected {
  color: #0056b3;
}

.categories-list {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.categories-scroll-list {
  overflow-y: auto;
  max-height: 500px;
}

.category-actions {
  margin-top: auto;
}

.categories-list ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 500px;
}

.categories-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.category-odd {
  background-color: #ffe5cd;
}

.category-even {
  background-color: #fff9eb;
}

.delete-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.category-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.series-code-input,
.new-category-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.add-category-button,
.close-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 5px;
}

.add-category-button {
  background-color: #28a745;
  color: white;
}

.close-button {
  background-color: #dc3545;
  color: white;
}

@media (max-width: 768px) {
  .popup-container {
    flex-direction: column;
    padding: 10px;
  }

  .brands-list {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    max-height: 250px;
  }

  .categories-list {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    max-height: 400px;
  }

  .categories-scroll-list {
    max-height: 300px;
  }

  .action-buttons {
    flex-direction: column;
  }

  .add-category-button,
  .close-button {
    width: 100%;
    margin: 5px 0;
  }

  .delete-icon {
    margin-bottom: -20px;
  }

  .category-actions {
    margin-top: 10px;
  }

  .series-code-input,
  .new-category-input {
    width: 85%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10x;
  }

  .add-category-button,
  .close-button {
    width: 90%;
    margin: 5px 0;
    margin-left: 15px;
  }

  .categories-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
  }
}
